<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin @ACS</title>
    <link rel="stylesheet" href="/css/tailwind.css">
  </head>
  <body class="flex flex-col min-h-screen w-11/12 mx-auto">
    <nav class="border-b">
      <div class="flex w-full mx-auto items-center py-4">
        <a href="/" class="mr-8 font-bold">Admin ACS</a>
      </div>
    </nav>
    <div class="flex-grow w-full py-8">